// Sample ICD2 linker command file for 16F873

LIBPATH  .

CODEPAGE   NAME=vectors  START=0x0      END=0x4      PROTECTED
CODEPAGE   NAME=page0    START=0x5      END=0x7FF
CODEPAGE   NAME=page1    START=0x800    END=0xEFF
CODEPAGE   NAME=debug    START=0xF00    END=0xFFF    PROTECTED
CODEPAGE   NAME=.idlocs  START=0x2000   END=0x2003   PROTECTED
CODEPAGE   NAME=.config  START=0x2007   END=0x2007   PROTECTED
CODEPAGE   NAME=eedata   START=0x2100   END=0x217F   PROTECTED

DATABANK   NAME=sfr0     START=0x0      END=0x1F     PROTECTED
DATABANK   NAME=sfr1     START=0x80     END=0x9F     PROTECTED
DATABANK   NAME=sfr2     START=0x100    END=0x10F    PROTECTED
DATABANK   NAME=sfr3     START=0x180    END=0x18F    PROTECTED

SHAREBANK   NAME=gpr0     START=0x20     END=0x6D
SHAREBANK   NAME=dbg0     START=0x6E     END=0x6F PROTECTED
SHAREBANK   NAME=gpr1     START=0x70     END=0x7F
SHAREBANK   NAME=gpr0     START=0x120    END=0x16D
SHAREBANK   NAME=dbg0     START=0x16E    END=0x16F PROTECTED
SHAREBANK   NAME=gpr1     START=0x170    END=0x17F

SHAREBANK   NAME=gpr2     START=0xA0     END=0xED
SHAREBANK   NAME=dbg1     START=0xEE     END=0xEF PROTECTED
SHAREBANK   NAME=gpr3     START=0xF0     END=0xF3
SHAREBANK   NAME=dbg2     START=0xF4     END=0xFD PROTECTED
SHAREBANK   NAME=gpr4     START=0xFE     END=0xFF

SHAREBANK   NAME=gpr2     START=0x1A0    END=0x1ED
SHAREBANK   NAME=dbg1     START=0x1EE    END=0x1EF PROTECTED
SHAREBANK   NAME=gpr3     START=0x1F0    END=0x1F3
SHAREBANK   NAME=dbg2     START=0x1F4    END=0x1FD PROTECTED
SHAREBANK   NAME=gpr4     START=0x1FE    END=0x1FF

SECTION    NAME=STARTUP  ROM=vectors    // Reset and interrupt vectors
SECTION    NAME=PROG1    ROM=page0      // ROM code space - page0
SECTION    NAME=PROG2    ROM=page1      // ROM code space - page1
SECTION    NAME=IDLOCS   ROM=.idlocs    // ID locations
SECTION    NAME=CONFIG   ROM=.config    // Configuration bits location
SECTION    NAME=DEEPROM  ROM=eedata     // Data EEPROM
